---
import Layout from '../layouts/Layout.astro';
import Header from '../components/app/lib/Header.svelte';
---

<Layout title="404">
    <Header client:visible />
    <div
        class="flex flex-1 justify-center items-center"
        transition:animate="fade"
    >
        <div class="text-left text-6xl font-bold text-neutral-900 dark:text-neutral-100">
            <h1 class="text-4xl">404</h1>
            <p class="text-2xl">Page not found.</p>
        </div>
    </div>
</Layout>
