---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.svelte';
import PasswordReset from '../../components/PasswordReset.svelte';
import { isValidPasswordresetTokens } from '../../lib/lucia-db';

const { id } = Astro.params;

const VALID = await isValidPasswordresetTokens(id || '');
if (!VALID) {
    return new Response('Invalid or Expired Token!', {
        status: 401
    });
}
---

<Layout title="Password Reset">
    <Header client:visible />
    <div transition:animate="fade" class="flex flex-1 justify-center items-center h-full">
        <PasswordReset id={id} client:visible />
    </div>
</Layout>
