---
import Layout from '../../layouts/Layout.astro';
import ResetPage from '../../components/ResetPage.svelte';
import Header from '../../components/Header.svelte';
import { sendPasswordResetLink } from '../../lib/lucia-email';
import { generatePasswordResetToken, isRegisteredEmail } from "../../lib/lucia-db";

let emailSent = false;
let errorMessage = 'None';
let respStatus = 200;

if (Astro.request.method === 'POST') {
    const ORIGIN = Astro.url.origin;
    const DATA = await Astro.request.json();
    const email = DATA.email;
    if (await isRegisteredEmail(email)) {
        try {
            const token = await generatePasswordResetToken(email);
            if (token) {
                sendPasswordResetLink(ORIGIN, email, token);
                emailSent = true;
            }
        } catch (e: any) {
            console.log(e);
            errorMessage = 'An error occurred';
        }
    } else {
        errorMessage = 'Account does not exist!'
    }
    return new Response(
        JSON.stringify({
            status: respStatus,
            error: errorMessage,
            verifySent: emailSent
        }),
        {
            status: respStatus
        }
    );
}
---

<Layout title="Password Reset">
    <Header client:visible />
    <div transition:animate="fade" class="flex flex-1 justify-center items-center h-full">
        <ResetPage client:visible />
    </div>
</Layout>
