---
import Layout from '../../layouts/Layout.astro';
import PasswordReset from '../../components/app/pages/PasswordToken.svelte';
import Header from '../../components/app/lib/Header.svelte';
---

<Layout title="Password Reset">
    <Header client:visible />
    <div transition:animate="fade" class="flex flex-1 justify-center items-center h-full">
        <PasswordReset client:visible />
    </div>
</Layout>
