---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.svelte';
import PassReset from '../../components/PasswordReset.svelte'
---

<Layout title="Login">
    <Header client:visible />
    <div transition:animate="fade" class="flex flex-1 justify-center items-center h-full">
        <PassReset client:visible />
    </div>
</Layout>
