---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Not found">
    <div
        class="flex flex-1 justify-center items-center"
        transition:animate="fade"
    >
        <div class="text-left text-6xl font-bold">
            <h1 class="text-4xl">404</h1>
            <p class="text-2xl">Page not found.</p>
        </div>
    </div>
</Layout>
