---
import Layout from '../layouts/Layout.astro';
import Challenge from '../components/Challenges.svelte';
import Header from '../components/Header.svelte';

let session = { user: { username: 'DEV' } };
---



<Layout title="CTF-Citadel">
    <Header username={session.user.username} client:visible />
    <div transition:animate="slide" class="flex flex-1 justify-center items-center">
        <Challenge client:visible />
    </div>
</Layout>