---
import Layout from '../layouts/Layout.astro';
import Challenges from '../components/Challenges.svelte';
import Header from '../components/Header.svelte';
---

<Layout title="CTF-Citadel">
    <Header currentPage={"Challenges"} client:visible/>
    <div transition:animate="fade" class="flex flex-1 justify-center items-center">
        <Challenges client:visible />
    </div>
</Layout>
