---
import Layout from '../layouts/Layout.astro';
import Events from '../components/Events.svelte';
import Header from '../components/Header.svelte';

let session = { user: { username: 'DEV' } };

if (!import.meta.env.DEV) {
    session = await Astro.locals.auth.validate();
    if (!session) return Astro.redirect('/login');
    if (!session.user.emailVerified) {
        return Astro.redirect('/verify/email');
    }
}
---

<Layout title="CTF-Citadel">
    <Header client:visible/>
    <div transition:animate="slide" class="flex flex-1 justify-center items-center">
        <Events client:visible />
    </div>
</Layout>
