---
import Layout from '../layouts/Layout.astro';
import Event from '../components/app/pages/Event.svelte';
import Header from '../components/app/lib/Header.svelte';
import { lucia } from '../lib/lucia';
import { DUMMY_SESSION } from '../lib/helpers';

let session = DUMMY_SESSION;
let sessionID = 'some-id';

if (!import.meta.env.DEV) {
    if (!Astro.locals.user) return Astro.redirect('/login');
    if (Astro.locals.user.is_blocked) {
        await lucia.invalidateUserSessions(Astro.locals.user.id);
        return Astro.redirect('/login');
    }
    if (!Astro.locals.user.is_verified) {
        return Astro.redirect('/verify/email');
    }
    session = { ...Astro.locals.user };
    sessionID = Astro.locals.session.id;
}
---

<Layout title="Events">
    <Header
        username={session.username}
        interactive={true}
        client:visible
    />
    <div transition:animate="fade" class="flex flex-1 justify-center items-center">
        <Event sessionID={sessionID} client:visible />
    </div>
</Layout>
