---
import Layout from '../layouts/Layout.astro';
import Event from '../components/Events.svelte';
import Header from '../components/Header.svelte';
import { lucia } from '../lib/lucia';
import { DUMMY_SESSION } from '../lib/helpers';

let session = DUMMY_SESSION;

if (!import.meta.env.DEV) {
    if (!Astro.locals.user) return Astro.redirect('/login');
    if (Astro.locals.user.is_blocked) {
        await lucia.invalidateUserSessions(Astro.locals.user.id);
        return Astro.redirect('/login');
    }
    if (!Astro.locals.user.is_verified) {
        return Astro.redirect('/verify/email');
    }
    session = { ...Astro.locals.user };
}
---

<Layout title="Events">
    <Header
        username={session.username}
        interactive={true}
        admin={session.user_role == 'admin' ? true : false}
        client:visible
    />
    <div transition:animate="slide" class="flex flex-1 justify-center items-center">
        <Event userSession={session} client:visible />
    </div>
</Layout>
