---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Overview from "../components/Overview.svelte";
---
<div>
    <Overview client:visible></Overview>
</div>