---
import Layout from '../layouts/Layout.astro';
import LoginPage from '../components/app/pages/Login.svelte';
import Header from '../components/app/lib/Header.svelte';

if (Astro.locals.user) {
    if (!Astro.locals.user.is_verified) {
        return Astro.redirect('/verify/email');
    }
    return Astro.redirect('/');
}
---

<Layout title="Login">
    <Header client:visible />
    <div transition:animate="slide" class="flex flex-1 justify-center items-center h-full">
        <LoginPage client:visible />
    </div>
</Layout>
