---
import Layout from '../layouts/Layout.astro';
import Scoreboards from '../components/Scoreboard.svelte';
import Header from '../components/Header.svelte';
---

<Layout title="CTF-Citadel">
    <Header currentPage={"Scoreboards"} client:visible />
    <div transition:animate="fade" class="flex flex-1 justify-center items-center">
        <Scoreboards client:visible />
    </div>
</Layout>
