---
import Layout from '../layouts/Layout.astro';
import AdminSettings from '../components/Settings.svelte';
import Header from '../components/Header.svelte';
import { privilegedWrapper } from '../lib/db';

let session = { user: { username: 'DEV', emailVerified: true, user_role: 'admin' } };

if (!import.meta.env.DEV) {
    session = await Astro.locals.auth.validate();
    if (!session) return Astro.redirect('/login');
    if (!session.user.emailVerified) {
        return Astro.redirect('/verify/email');
    }
    if (session.user.user_role != 'admin') {
        return new Response('Forbidden', { status: 403 });
    }
}

if (Astro.request.method === 'POST') {
    if (session.user.user_role != 'admin') {
        return new Response('Forbidden', { status: 403 });
    } else {
        return await privilegedWrapper(Astro.request);
    }
}
---

<Layout title="CTF-Citadel">
    <Header
        username={session.user.username}
        interactive={true}
        admin={session.user.user_role == 'admin' ? true : false}
        client:visible
    />
    <div transition:animate="slide" class="flex flex-1">
        <AdminSettings userSession={session.user} client:visible />
    </div>
</Layout>
