---
import Layout from '../layouts/Layout.astro';
import AdminSettings from '../components/Settings.svelte';
import Header from '../components/Header.svelte';
import { lucia } from '../lib/lucia';
import { privilegedWrapper } from '../lib/backend';
import { DUMMY_SESSION } from '../lib/helpers';

let session = DUMMY_SESSION;

if (!import.meta.env.DEV) {
    if (!Astro.locals.user) return Astro.redirect('/login');
    if (Astro.locals.user.is_blocked) {
        await lucia.invalidateUserSessions(Astro.locals.user.id);
        return Astro.redirect('/login');
    }
    if (!Astro.locals.user.is_verified) {
        return Astro.redirect('/verify/email');
    }
    if (Astro.locals.user.user_role != 'admin') {
        return new Response('Forbidden', { status: 403 });
    }
    session = { ...Astro.locals.user };
}

if (Astro.request.method === 'POST') {
    if (Astro.locals.user.user_role != 'admin') {
        return new Response('Forbidden', { status: 403 });
    } else {
        return await privilegedWrapper(Astro.request);
    }
}
---

<Layout title="CTF-Citadel">
    <Header
        username={session.username}
        interactive={true}
        admin={session.user_role == 'admin' ? true : false}
        client:visible
    />
    <div transition:animate="slide" class="flex flex-1">
        <AdminSettings userSession={session} client:visible />
    </div>
</Layout>
