---
import Layout from '../layouts/Layout.astro';
import SignupPage from '../components/app/pages/Signup.svelte';
import Header from '../components/app/lib/Header.svelte';
import { lucia } from '../lib/lucia';

if (Astro.locals.user) {
    await lucia.invalidateSession(Astro.locals.session.id);
    await lucia.deleteExpiredSessions();
    Astro.cookies.delete(lucia.sessionCookieName);
}
---

<Layout title="Sign Up">
    <Header client:visible />
    <div transition:animate="slide" class="flex flex-1 justify-center items-center h-full">
        <SignupPage client:visible />
    </div>
</Layout>
