---
import Layout from '../layouts/Layout.astro';
import TeamOverview from '../components/TeamOverview.svelte';
import Header from '../components/Header.svelte';

let session = { user: { username: 'DEV', emailVerified: true, user_role: 'admin' } };

if (!import.meta.env.DEV) {
    session = await Astro.locals.auth.validate();
    if (!session) return Astro.redirect('/login');
    if (!session.user.emailVerified) {
        return Astro.redirect('/verify/email');
    }
}
---

<Layout title="CTF-Citadel">
    <Header
        username={session.user.username}
        interactive={true}
        admin={session.user.user_role == 'admin' ? true : false}
        client:visible
    />
    <div transition:animate="slide" class="flex flex-1 justify-center items-center">
        <TeamOverview client:visible />
    </div>
</Layout>
