---
import Layout from '../layouts/Layout.astro';
import UserPage from '../components/User.svelte';
import Header from '../components/Header.svelte';
import { auth } from '../lib/lucia';
import { DUMMY_SESSION } from '../lib/helpers';

let session = DUMMY_SESSION;

if (!import.meta.env.DEV) {
    session = await Astro.locals.auth.validate();
    if (!session) return Astro.redirect('/login');
    if (session.user.isBlocked) {
        await auth.invalidateAllUserSessions(session.user.userId);
        return Astro.redirect('/login');
    }
    if (!session.user.emailVerified) {
        return Astro.redirect('/verify/email');
    }
}
---

<Layout title="CTF-Citadel">
    <Header
        username={session.user.username}
        interactive={true}
        admin={session.user.user_role == 'admin' ? true : false}
        client:visible
    />
    <div transition:animate="slide" class="flex flex-1">
        <UserPage userSession={session.user} client:visible />
    </div>
</Layout>
