---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/app/lib/Header.svelte';
import EmailVerify from '../../components/app/pages/EmailToken.svelte';
import { lucia } from '../../lib/lucia';

if (!Astro.locals.user) return Astro.redirect('/login');
if (Astro.locals.user.is_blocked) {
    await lucia.invalidateUserSessions(Astro.locals.user.id);
    return Astro.redirect('/login');
}
if (Astro.locals.user.is_verified) {
    return Astro.redirect('/');
}
---

<Layout title="Verification">
    <Header client:visible />
    <div transition:animate="fade" class="flex flex-1 justify-center items-center h-full">
        <EmailVerify client:visible />
    </div>
</Layout>
