---
import Layout from '../../layouts/Layout.astro';
import Challenge from '../../components/app/pages/Challenges.svelte';
import Header from '../../components/app/lib/Header.svelte';
import DatabaseActions from '../../lib/actions';
import { lucia } from '../../lib/lucia';
import { DUMMY_SESSION } from '../../lib/helpers';

const { uuid } = Astro.params;
let session = DUMMY_SESSION;

if (!import.meta.env.DEV) {
    if (!Astro.locals.user) return Astro.redirect('/login');
    if (Astro.locals.user.is_blocked) {
        await lucia.invalidateUserSessions(Astro.locals.user.id);
        return Astro.redirect('/login');
    }
    if (!Astro.locals.user.is_verified) {
        return Astro.redirect('/verify/email');
    }
    session = { ...Astro.locals.user };
}

// check if we access a non-existing challenge
const ACTION = new DatabaseActions();
let exists = await ACTION.checkEventExist(uuid || '');
if (!exists) {
    // early exit to 404
    return Astro.redirect('/404');
}
---

<Layout title="Challenges">
    <Header
        username={session.username}
        interactive={true}
        client:visible
    />
    <div transition:animate="fade">
        <Challenge uuid={uuid} session={session} client:visible />
    </div>
</Layout>
